<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find simulation)/urdf/test.urdf'" />

  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="1"/>

  <node name="my_robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
    args="-urdf -param robot_description -model my_robot -x $(arg x) -y $(arg y) -z $(arg z)" />

</launch>